.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	width: 159px;
	height: 232px;
}

.innerCard {
	width: 159px;
	height: 205px;
	background-color: var(--color-white);
	border-radius: 10px;
}

.innerCard img {
	width: 159px;
	height: 170px;
	border-radius: 10px 10px 0px 0px;
	background: url(), lightgray 50% / cover no-repeat;
}

.innerCard button {
	display: inline-flex;
	padding: 4px 8px;
	margin: 6px 8px;
	align-items: flex-start;
	gap: 1px;
	border-radius: 10px;
	background: var(--color-black);
	color: var(--color-white);
	font-family: Poppins;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: 2px solid var(--color-black);
}

.wrapper p {
	color: var(--color-white);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
